<div class="card shadow bg-white rounded default-card">
  <div class="card-body">
    <h5 class="card-title">Compare Table Metadata</h5>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-checkbox (checked)="priSecMatchWithColumns" (click)="toggleValidationState()" color="primary">
              Compare Different tables with specific columns.
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="priSecMatchWithColumns">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <textarea matInput [hidden]='priSecMatchWithColumns' placeholder="Enter Table Names:"
                [(formControl)]="tableNames" rows=6></textarea>
              <mat-hint>Enter table names in format 'Schema.Table_Name;Schema.Table_Name;...'</mat-hint>
              <mat-error *ngIf="tableNames.hasError('tableNameRequired')">
                Atleast 1 table name is required.
              </mat-error>
              <mat-error *ngIf="tableNames.hasError('validateTableNameFormat')">
                Table name should be in format Schema.TableName
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="!priSecMatchWithColumns">
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Primary Table Name: " [formControl]="primaryTableName">
              <mat-hint>Enter table names in format 'Schema.Table_Name'</mat-hint>
              <mat-error *ngIf="primaryTableName.hasError('tableNameRequired')">
                Primary table Name is required.
              </mat-error>
              <mat-error *ngIf="primaryTableName.hasError('validateTableNameFormat')">
                Table name should be in format Schema.TableName
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Secondary Table Name: " [formControl]="secondaryTableName">
              <mat-hint>Enter table names in format 'Schema.Table_Name'</mat-hint>
              <mat-error *ngIf="secondaryTableName.hasError('tableNameRequired')">
                Secondary table Name is required.
              </mat-error>
              <mat-error *ngIf="secondaryTableName.hasError('validateTableNameFormat')">
                Table name should be in format Schema.TableName
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="!priSecMatchWithColumns">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <textarea matInput placeholder="Columns to compare:"
                [(formControl)]="columnNames"
                rows=6></textarea>
              <mat-hint>Enter Columns Names in format 'column1;column2;...'</mat-hint>
              <mat-error *ngIf="columnNames.hasError('columnNameRequired')">
                Atleast 1 Column Name or '*' is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button (click)="submitForm()" class="btn btn-primary">Submit</button>
          <button (click)="resetForm()" class="btn btn-danger" style="margin-left: 10px;">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="outputResponseList?.length > 0 || outputErrorList?.length > 0"
      class="card shadow bg-white rounded default-card">
  <div class="card-body">
    <h5 class="card-title" >Table Metadata Comparision Results</h5>
    <hr />
    <div class="container">
      <ul>
        <li *ngFor="let respItem of outputResponseList">
          {{ respItem }}
        </li>
      </ul>
      <ul>
        <li *ngFor="let errorItem of outputErrorList">
          {{ errorItem }}
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="isProgressSpinnerEnabled" class="spinner-div">
  <div class="spinner-div-center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
